@font-face {
    font-family: 'PlantinMTProRg';
    src: url('../fonts/PlantinMTProRg.eot');
    src: url('../fonts/PlantinMTProRg.eot') format('embedded-opentype'),
         url('../fonts/PlantinMTProRg.woff2') format('woff2'),
         url('../fonts/PlantinMTProRg.woff') format('woff'),
         url('../fonts/PlantinMTProRg.ttf') format('truetype'),
         url('../fonts/PlantinMTProRg.svg#PlantinMTProRg') format('svg');
}
@font-face {
    font-family: 'GTPressuraBoldTrial';
    src: url('../fonts/GTPressuraBoldTrial.eot');
    src: url('../fonts/GTPressuraBoldTrial.eot') format('embedded-opentype'),
         url('../fonts/GTPressuraBoldTrial.woff2') format('woff2'),
         url('../fonts/GTPressuraBoldTrial.woff') format('woff'),
         url('../fonts/GTPressuraBoldTrial.ttf') format('truetype'),
         url('../fonts/GTPressuraBoldTrial.svg#GTPressuraBoldTrial') format('svg');
}


@font-face {
    font-family: 'GTPressuraMonoRegularTrial';
    src: url('../fonts/GTPressuraMonoRegularTrial.eot');
    src: url('../fonts/GTPressuraMonoRegularTrial.eot') format('embedded-opentype'),
         url('../fonts/GTPressuraMonoRegularTrial.woff2') format('woff2'),
         url('../fonts/GTPressuraMonoRegularTrial.woff') format('woff'),
         url('../fonts/GTPressuraMonoRegularTrial.ttf') format('truetype'),
         url('../fonts/GTPressuraMonoRegularTrial.svg#GTPressuraMonoRegularTrial') format('svg');
}
@font-face {
    font-family: 'GTPressuraRegularTrial';
    src: url('../fonts/GTPressuraRegularTrial.eot');
    src: url('../fonts/GTPressuraRegularTrial.eot') format('embedded-opentype'),
         url('../fonts/GTPressuraRegularTrial.woff2') format('woff2'),
         url('../fonts/GTPressuraRegularTrial.woff') format('woff'),
         url('../fonts/GTPressuraRegularTrial.ttf') format('truetype'),
         url('../fonts/GTPressuraRegularTrial.svg#GTPressuraRegularTrial') format('svg');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'),
         url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.svg#Helvetica') format('svg');
}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;    
    vertical-align: baseline;
    font-size-adjust: 100%;
}

body {
    font-family: 'Helvetica';
    background-image: url('https://i.ibb.co/ZLH00nf/background.png');
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: #000000 ;  
    font-size-adjust: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h1{    
    font-size: 5.25rem;
    line-height: 1;
    font-family: 'PlantinMTProRg';
    word-break: break-all;
}
h2{
    font-family: 'PlantinMTProRg';
    font-size: 3.6875rem;
    line-height: 1.2;
    word-break: break-all;
}
h3{    
    font-size: 3.125rem;
    line-height: 1.2;
}
h4{
    font-size: 2.5rem;
    line-height: 1;
}
h5{
    font-size: 1.875rem;
    line-height: 1;
}
h6{
    font-size: 1.5625rem;
    line-height: 1;
}
p {
    font-family: 'Helvetica';
	color: #000000 ;
    font-size: 1.3125em;
    line-height: 1.43;   
	margin: 0 0 28px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a{
    color: #414042;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}


img, a img {
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	border: none 0;
	outline: 0px none !important;
}
strong{
    font-weight: 700;
}


/*-----bootstrap style reset-----*/

.main-outercon{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
}

#text-div1 {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
}


/*--------------- Header Section ----------*/

.header-container{
    width: 100%;   
    padding: 82px 0 40px;
}
.logo{
    width: 100%;
    text-align: center;
}

.logo img{
    width: 165px;
}

/*--content--*/
.content-container{
    width: 100%;
    padding: 15px 0 146px;
    
}
.content-main-block{
    width: 100%;
    padding: 0 0 15px;
}
.content-main-block h1{
   position: relative;
}
.content-main-block h1 span{
    font-family: 'GTPressuraMonoRegularTrial';
    margin: 0 20px;
}
.title-div{
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}
.title-div:before{
    position: absolute;
    content: "";
    left: 0;
    top: 40px;
    margin: 0 auto;
    right: 0;
    background: url('../images/title-pattern.png') no-repeat;
    width: 370px;
    height: 31px;
    background-size: 100% 100%;
}


.content-wrap{
    width: 100%;
}
.content-wrap ul{
    width: 100%;
}
.single-row{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;    
    display: flex;  
     -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}
.text-content{
    width: 71.6%;
    order: 1;
    text-align: right;
    padding: 44px 0 0;
}
.text-content h2{
    padding-bottom: 10px;
}
.text-content h2 i{
   color: #284f7f;
}
.text-content p{
    padding: 0 35px 0 55px;
}
.image-content{
    width: 28.4%;
    order: 2;
/*
    position: relative;
    top: -44px;        
*/
}
.content-wrap ul li:nth-child(2n) .text-content{
    order: 2;
    text-align: left;
}
.content-wrap ul li:nth-child(2n) .image-content{
    order: 1;
}
.content-wrap ul li:nth-child(2){
    margin: -68px 0 0;
}
.content-wrap ul li:nth-child(2) .text-content p{
    padding: 0 67px 0 15px;
}
.content-wrap ul li:nth-child(2) .text-content {
    padding: 79px 10px 0;
    width: 71%;
}
.content-wrap ul li:nth-child(2) .text-content h2 {
    position: relative;
    left: -54px;
    padding-bottom: 17px;
}
.content-wrap ul li:nth-child(2) .image-content {
   width: 29%;
}
.content-wrap ul li:nth-child(3) {
   padding: 69px 0 0;
}
.content-wrap ul li:nth-child(3) .image-content {
   margin: 45px 0 0;
}
.content-wrap ul li:nth-child(3) .text-content{
    padding: 0;
}
.content-wrap ul li:nth-child(3) .text-content p {
    padding: 0 35px 0 15px;
}
.content-wrap ul li:nth-child(3) .text-content h2 {
   position: relative;
    right: -192px;
    padding-bottom: 15px;
}

.content-wrap ul li:nth-child(4){
   margin: -9px 0 0;
}

.content-wrap ul li:nth-child(4) .text-content{
    padding: 0;
}
.content-wrap ul li:nth-child(4) .text-content h2 {
   position: relative;
    left: -220px;
    padding-bottom: 17px;
}
.content-wrap ul li:nth-child(4) .image-content {
   margin: 32px 23px 0;
}
.content-wrap ul li:nth-child(4) .text-content p {
    padding: 0 95px 0 0px;
}


